<div class="row">
	<div class="col-md-3">
		<input type="text" class="form-control" id="search-query" placeholder="Search" name="search-query"> 
	</div>
</div><br>
<table class="table">
	<thead> 
		<tr>
			<th>Album ID</th>
			<th>Username</th>
			<th>User ID</th>
			<th>Track Period</th>
			<th>Timestamp</th>
			<th>Provider</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="event-list">
		<tr id="loading-query-gif"><td colspan="7">
			<div align="center"><img src="imgs/loader.gif"> Fetching album</div>
		</td></tr>
	</tbody>
</table>