<ul class="list-unstyled list-group" id="profile-panel-<%= user.get("id") %>">
	<li class="list-group-item"><img src="<%= user.get("profile_picture") %>" alt="User profile pic" height="175" width="175"></li>
	<li class="list-group-item"><b>Bio:</b> <%= user.get("bio") %></li>
	<li class="list-group-item"><b>Username:</b> <%= user.get("username") %></li>
	<li class="list-group-item"><b>Website:</b> <%= user.get("website") %></li>
	<li class="list-group-item"><b>User ID:</b> <%= user.get("id") %></li>
</ul>